  .features h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .highlight {
    color: #0099ff;
    font-weight: bold;
  }
  
  .feature-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    width: 250px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .card-title{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  